.vscode
.idea
*.log
scripts/.env
scripts/images.list
scripts/update-images.list
scripts/updates.list
images
tests
apisix/config.yaml
dex/config.yaml
apisix_dashboard/conf.yaml
chatgpt/custom.yml
chatgpt/logs
chatgpt/server/celerybeat-schedule
chatgpt/supervisor
chatgpt/server/tmp/gunicorn.pid
es/data
etcd/etcd.conf.yml
etcd/data
fauxpilot/logs
grafana/config/grafana.ini
grafana/provisioning/datasources/all.yaml
kaptcha/application.yaml
keycloak/keycloak.conf
keycloak/realm-export-sms.json
keycloak/realm-export.json
portal/nginx.conf
postgres/data
redis/data
prometheus/prometheus.yml
docker-compose.yml
.cospec
.roo
portal/data/costrict/costrict-private.pem
portal/data/costrict/costrict-public.key
configure.sh.bak
docker-compose-initdb.yml
casdoor/conf/app.conf
codebase-embedder/conf.yaml
codereview/config/issue-manager/config.local.yaml
codereview/config/review-checker/config.local.yaml
codereview/config/review-manager/config.local.yaml
higress/data/configmaps/ai-route-chatrag.yaml
higress/data/configmaps/ai-route-codereview.yaml
higress/data/ingresses/ai-route-chatrag.internal.yaml
higress/data/ingresses/ai-route-codereview.internal.yaml
higress/data/mcpbridges/default.yaml
higress/data/wasmplugins/ai-proxy.internal.yaml
higress/data/wasmplugins/ai-quota-1.0.0.yaml
postgres/scripts/casdoor.sql
quota-manager/app-conf.yml
weaviate
chat-rag/logs
postgres/scripts/casdoor-insert.sql
